<div class="page-title">
    <h4>
        <a routerLink="/atm">ATM</a>
        <i class="material-icons">keyboard_arrow_right</i>
        Bank card withdraw
    </h4>
    <button type="submit" class="waves-effect waves-light btn grey darken-1" (click)="printReceipt()">Print withdraw receipt</button>
</div>

<div class="row">
    <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <input formControlName="amount" id="amount" type="number" [ngClass]="{'invalid': form.get('amount').invalid && form.get('amount').touched}" required>
            <label for="amount">Withdraw amount</label>
            <span class="helper-text red-text" *ngIf="form.get('amount').invalid && form.get('amount').touched">
                <span *ngIf="form.get('amount').errors['required']">Enter withdraw amount</span>
                <span *ngIf="form.get('amount').errors['pattern']">Incorrect withdraw amount</span>
            </span>
        </div>
        <div>
            <button type="submit" [disabled]="form.invalid || form.disabled" class="waves-effect waves-light btn">
                Withdraw
            </button>
        </div>
    </form>
</div>

<div class="row" #pdfReceipt>
    <table class="highlight" *ngIf="withdrawReceipt">
        <h5>Withdraw receipt</h5>
        <tr>
            <th>Time</th>
            <td>{{ withdrawReceipt.time }}</td>
        </tr>
        <tr>
            <th>Withdraw amount</th>
            <td>{{ withdrawReceipt.value }}</td>
        </tr>
        <tr>
            <th>Bank card number</th>
            <td>{{ withdrawReceipt.bank_card_number }}</td>
        </tr>
    </table>
</div>
