<div class="page-title">
    <h4>Bank accounts</h4>
</div>

<div class="row" *ngIf="bankAccounts$ | async as bankAccounts; else loader">
    <table class="highlight" *ngIf="bankAccounts.length !== 0; else empty">
        <thead>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Activity type</th>
                <th>Bank account type</th>
                <th>Balance</th>
                <th>Client ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bankAccount of bankAccounts">
                <td>{{ bankAccount.id }}</td>
                <td>{{ bankAccount.number }}</td>
                <td>{{ bankAccount.activity_type }}</td>
                <td>{{ bankAccount.bank_account_type }}</td>
                <td>{{ bankAccount.balance }}</td>
                <td *ngIf="bankAccount.client else none">{{ bankAccount.client.id_number }}</td>
                <td>
                    <button type="button" class="btn waves-effect wavers-light btn-small" [routerLink]="['/bank_account', bankAccount.id, 'top_up']">Top up</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #empty>
        <div class="center">You don't have any bank accounts!</div>
    </ng-template>
</div>

<ng-template #loader>
	<app-loader></app-loader>
</ng-template>

<ng-template #none>
	<td>Bank</td>
</ng-template>
