<div class="page-title">
    <h4>Deposit types</h4>
    <button class="waves-effect waves-light btn grey darken-1" routerLink="/deposit_type/new">Add deposit type</button>
</div>

<div class="row" *ngIf="depositTypes$ | async as depositTypes; else loader">
    <table class="highlight" *ngIf="depositTypes.length !== 0; else empty">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Percent</th>
                <th>Currency</th>
                <th>Deposit term</th>
                <th>Is revocable</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let depositType of depositTypes">
                <td>{{ depositType.id }}</td>
                <td>{{ depositType.name }}</td>
                <td>{{ depositType.percent }}</td>
                <td>{{ depositType.currency }}</td>
                <td>{{ depositType.deposit_term }}</td>
                <td>{{ depositType.is_revocable ? 'Revocable' : 'Not revocable' }}</td>
                <td>
                    <button type="button" class="btn waves-effect wavers-light btn-small" [routerLink]="['/deposit_type', depositType.id]">View</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #empty>
        <div class="center">You don't have any deposit types!</div>
    </ng-template>
</div>

<ng-template #loader>
	<app-loader></app-loader>
</ng-template>
