<div class="page-title">
    <h4>
        <a routerLink="/deposit_contract">Deposit contracts</a>
        <i class="material-icons">keyboard_arrow_right</i>
        {{ isNew ? 'Add' : 'View' }} deposit contract
    </h4>
</div>

<div class="row">
    <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isNew">
        <div class="input-field">
            <div>
                <label>Deposit type</label>
                <select class="browser-default" id="deposit_type" formControlName="deposit_type" *ngIf="depositTypes$ | async as depositTypes;" required>
                    <option [ngValue]="null" disabled>Choose your option</option>
                    <option *ngFor="let depositType of depositTypes" [ngValue]="depositType.id">{{ depositType.name }} | {{ depositType.percent }} | {{ depositType.currency }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <input formControlName="starts_at" id="starts_at" type="date" [ngClass]="{'invalid': form.get('starts_at').invalid && form.get('starts_at').touched}" required>
            <label for="starts_at">Start date</label>
            <span class="helper-text red-text" *ngIf="form.get('starts_at').invalid && form.get('starts_at').touched">
            	<span *ngIf="form.get('starts_at').errors['required']">Enter start date</span>
                <span *ngIf="form.get('starts_at').errors['invalidDate']">Specify start date in the future</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="ends_at" id="ends_at" type="date" [ngClass]="{'invalid': form.get('ends_at').invalid && form.get('ends_at').touched}" required>
            <label for="ends_at">End date</label>
            <span class="helper-text red-text" *ngIf="form.get('ends_at').invalid && form.get('ends_at').touched">
            	<span *ngIf="form.get('ends_at').errors['required']">Enter end date</span>
                <span *ngIf="form.get('ends_at').errors['invalidDate']">Specify end date in the future</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="deposit_amount" id="deposit_amount" type="number" [ngClass]="{'invalid': form.get('deposit_amount').invalid && form.get('deposit_amount').touched}" required>
            <label for="deposit_amount">Deposit amount</label>
            <span class="helper-text red-text" *ngIf="form.get('deposit_amount').invalid && form.get('deposit_amount').touched">
                <span *ngIf="form.get('deposit_amount').errors['required']">Enter deposit amount</span>
            </span>
        </div>
        <div class="input-field">
            <div>
                <label>Client</label>
                <select class="browser-default" id="client" formControlName="client" *ngIf="clients$ | async as clients;" required>
                    <option [ngValue]="null" disabled>Choose your option</option>
                    <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.last_name }} | {{ client.first_name }} | {{ client.patronymic }} | {{ client.birthday }} | {{ client.id_number }} | {{ client.passport_series}}{{ client.passport_number }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="form.invalid || form.disabled" class="waves-effect waves-light btn">
                Save changes
            </button>
        </div>
    </form>
    <form class="col s12 l12" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="(!isNew) && depositContract">
        <table class="highlight">
            <tr>
                <th>ID</th>
                <td>{{ depositContract.id }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Deposit type</th>
                <td>{{ depositContract.deposit_type.name }} | {{ depositContract.deposit_type.percent }} | {{ depositContract.deposit_type.currency }}</td>
                <td>
                    <button type="button" class="btn waves-effect wavers-light btn-small" [routerLink]="['/deposit_type', depositContract.deposit_type.id]">View</button>
                </td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>{{ depositContract.starts_at }}</td>
                <td></td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ depositContract.ends_at }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Is ended</th>
                <td>{{ depositContract.is_ended ? 'Ended' : 'Not ended'}}</td>
                <td></td>
            </tr>
            <tr>
                <th>Deposit amount</th>
                <td>{{ depositContract.deposit_amount }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ depositContract.client.last_name }} | {{ depositContract.client.first_name }} | {{ depositContract.client.patronymic }} | {{ depositContract.client.birthday }} | {{ depositContract.client.id_number }} | {{ depositContract.client.passport_series}}{{ depositContract.client.passport_number }}</td>
                <td>
                    <button type="button" class="btn waves-effect wavers-light btn-small" [routerLink]="['/client', depositContract.client.id]">View</button>
                </td>
            </tr>
            <tr>
                <th>Main bank account</th>
                <td>{{ depositContract.main_bank_account.number }} | {{ depositContract.main_bank_account.activity_type }} | {{ depositContract.main_bank_account.bank_account_type }} | {{ depositContract.main_bank_account.balance }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Deposit bank account</th>
                <td>{{ depositContract.deposit_bank_account.number }} | {{ depositContract.deposit_bank_account.activity_type }} | {{ depositContract.deposit_bank_account.bank_account_type }} | {{ depositContract.deposit_bank_account.balance }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Special bank account</th>
                <td>{{ depositContract.special_bank_account.number }} | {{ depositContract.special_bank_account.activity_type }} | {{ depositContract.special_bank_account.bank_account_type }} | {{ depositContract.special_bank_account.balance }}</td>
                <td></td>
            </tr>
        </table>
        <br>
        <br>
        <div>
            <button type="submit" [disabled]="depositContract.is_ended" class="waves-effect waves-light btn">
                Revoke
            </button>
        </div>
    </form>
</div>
