<div class="page-title">
    <h4>
        <a routerLink="/client">Clients</a>
        <i class="material-icons">keyboard_arrow_right</i>
        {{ isNew ? 'Add' : 'Edit' }} client
    </h4>
    <span>
	    <button class="btn btn-small red" (click)="deleteClient()" *ngIf="!isNew">
	    	<i class="material-icons">delete</i>
		</button>
    </span>
</div>

<div class="row">
    <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <input formControlName="last_name" id="last_name" type="text" [ngClass]="{'invalid': form.get('last_name').invalid && form.get('last_name').touched}" required>
            <label for="last_name">Last name</label>
            <span class="helper-text red-text" *ngIf="form.get('last_name').invalid && form.get('last_name').touched">
            	<span *ngIf="form.get('last_name').errors['required']">Enter last name</span>
                <span *ngIf="form.get('last_name').errors['pattern']">Incorrect last name</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="first_name" id="first_name" type="text" [ngClass]="{'invalid': form.get('first_name').invalid && form.get('first_name').touched}" required>
            <label for="first_name">First name</label>
            <span class="helper-text red-text" *ngIf="form.get('first_name').invalid && form.get('first_name').touched">
            	<span *ngIf="form.get('first_name').errors['required']">Enter first name</span>
                <span *ngIf="form.get('first_name').errors['pattern']">Incorrect first name</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="patronymic" id="patronymic" type="text" [ngClass]="{'invalid': form.get('patronymic').invalid && form.get('patronymic').touched}" required>
            <label for="patronymic">Patronymic</label>
            <span class="helper-text red-text" *ngIf="form.get('patronymic').invalid && form.get('patronymic').touched">
            	<span *ngIf="form.get('patronymic').errors['required']">Enter patronymic</span>
                <span *ngIf="form.get('patronymic').errors['pattern']">Incorrect patronymic</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="birthday" id="birthday" type="date" [ngClass]="{'invalid': form.get('birthday').invalid && form.get('birthday').touched}" required>
            <label for="birthday">Birthday</label>
            <span class="helper-text red-text" *ngIf="form.get('birthday').invalid && form.get('birthday').touched">
            	<span *ngIf="form.get('birthday').errors['required']">Enter birthday</span>
                <span *ngIf="form.get('birthday').errors['invalidDate']">Specify date in the past</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="birthday_place" id="birthday_place" type="text" [ngClass]="{'invalid': form.get('birthday_place').invalid && form.get('birthday_place').touched}" required>
            <label for="birthday_place">Birthday place</label>
            <span class="helper-text red-text" *ngIf="form.get('birthday_place').invalid && form.get('birthday_place').touched">
            	<span *ngIf="form.get('birthday_place').errors['required']">Enter birthday place</span>
                <span *ngIf="form.get('birthday_place').errors['pattern']">Incorrect birthday place</span>
            </span>
        </div>
        <div class="input-field">
            <div>
                <label>Sex</label>
                <br>
                <label *ngFor="let sex of sexValues | keyvalue" style="margin-right: 15px;">
                    <input id="sex" name="sex" formControlName="sex" type="radio" [value]="sex.key" class="with-gap"/>
                    <span style="padding-left: 25px">{{ sex.value }}</span>
                </label>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <div>
                <label>Passport series</label>
                <select class="browser-default" id="passport_series" formControlName="passport_series" required>
                    <option [ngValue]="null" disabled>Choose your option</option>
                    <option *ngFor="let passport_series of passportSeriesValues | keyvalue" [ngValue]="passport_series.key">{{ passport_series.value }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <input formControlName="passport_number" id="passport_number" type="text" [ngClass]="{'invalid': form.get('passport_number').invalid && form.get('passport_number').touched}" required>
            <label for="passport_number">Passport number</label>
            <span class="helper-text red-text" *ngIf="form.get('passport_number').invalid && form.get('passport_number').touched">
            	<span *ngIf="form.get('passport_number').errors['required']">Enter passport number</span>
                <span *ngIf="form.get('passport_number').errors['pattern']">Incorrect passport number</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="passport_issued_by" id="passport_issued_by" type="text" [ngClass]="{'invalid': form.get('passport_issued_by').invalid && form.get('passport_issued_by').touched}" required>
            <label for="passport_issued_by">Passport issuer</label>
            <span class="helper-text red-text" *ngIf="form.get('passport_issued_by').invalid && form.get('passport_issued_by').touched">
            	<span *ngIf="form.get('passport_issued_by').errors['required']">Enter passport issuer</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="passport_issued_at" id="passport_issued_at" type="date" [ngClass]="{'invalid': form.get('passport_issued_at').invalid && form.get('passport_issued_at').touched}" required>
            <label for="passport_issued_at">Passport issue date</label>
            <span class="helper-text red-text" *ngIf="form.get('passport_issued_at').invalid && form.get('passport_issued_at').touched">
            	<span *ngIf="form.get('passport_issued_at').errors['required']">Enter passport issue date</span>
                <span *ngIf="form.get('passport_issued_at').errors['invalidDate']">Specify date in the past</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="id_number" id="id_number" type="text" [ngClass]="{'invalid': form.get('id_number').invalid && form.get('id_number').touched}" required>
            <label for="id_number">ID number</label>
            <span class="helper-text red-text" *ngIf="form.get('id_number').invalid && form.get('id_number').touched">
            	<span *ngIf="form.get('id_number').errors['required']">Enter ID number</span>
                <span *ngIf="form.get('id_number').errors['pattern']">Incorrect ID number</span>
            </span>
        </div>
        <div class="input-field">
            <div>
                <label>City</label>
                <select class="browser-default" id="city" formControlName="city" required>
                    <option [ngValue]="null" disabled>Choose your option</option>
                    <option *ngFor="let city of cityValues | keyvalue" [ngValue]="city.key">{{ city.value }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <input formControlName="address" id="address" type="text" [ngClass]="{'invalid': form.get('address').invalid && form.get('address').touched}" required>
            <label for="address">Address</label>
            <span class="helper-text red-text" *ngIf="form.get('address').invalid && form.get('address').touched">
            	<span *ngIf="form.get('address').errors['required']">Enter address</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="home_number" id="home_number" type="text" [ngClass]="{'invalid': form.get('home_number').invalid && form.get('home_number').touched && form.get('home_number').dirty}">
            <label for="home_number">Home number</label>
            <span class="helper-text red-text" *ngIf="form.get('home_number').invalid && form.get('home_number').touched && form.get('home_number').dirty">
                <span *ngIf="form.get('home_number').errors['pattern']">Incorrect home number</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="phone_number" id="phone_number" type="text" [ngClass]="{'invalid': form.get('phone_number').invalid && form.get('phone_number').touched && form.get('home_number').dirty}">
            <label for="phone_number">Phone number</label>
            <span class="helper-text red-text" *ngIf="form.get('phone_number').invalid && form.get('phone_number').touched && form.get('home_number').dirty">
                <span *ngIf="form.get('phone_number').errors['pattern']">Incorrect phone number</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="email" id="email" type="email" [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
            <label for="email">Email</label>
            <span class="helper-text red-text" *ngIf="form.get('email').invalid && form.get('email').touched">
                <span *ngIf="form.get('email').errors['email']">Enter correct email</span>
            </span>
        </div>
        <div class="input-field">
            <input formControlName="job_place" id="job_place" type="text" [ngClass]="{'invalid': form.get('job_place').invalid && form.get('job_place').touched}">
            <label for="job_place">Job place</label>
            <span class="helper-text red-text" *ngIf="form.get('job_place').invalid && form.get('job_place').touched">
            </span>
        </div>
        <div class="input-field">
            <input formControlName="job_position" id="job_position" type="text" [ngClass]="{'invalid': form.get('job_position').invalid && form.get('job_position').touched}">
            <label for="job_position">Job position</label>
            <span class="helper-text red-text" *ngIf="form.get('job_position').invalid && form.get('job_position').touched">
            </span>
        </div>
        <div class="input-field">
            <div>
                <label>Register city</label>
                <select class="browser-default" id="register_city" formControlName="register_city" required>
                    <option [ngValue]="null" disabled>Choose your option</option>
                    <option *ngFor="let city of cityValues | keyvalue" [ngValue]="city.key">{{ city.value }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <input formControlName="register_address" id="register_address" type="text" [ngClass]="{'invalid': form.get('register_address').invalid && form.get('register_address').touched}" required>
            <label for="register_address">Register address</label>
            <span class="helper-text red-text" *ngIf="form.get('register_address').invalid && form.get('register_address').touched">
                <span *ngIf="form.get('register_address').errors['required']">Enter register address</span>
            </span>
        </div>
        <div class="input-field">
            <div>
                <label>Family status</label>
                <select class="browser-default" id="family_status" formControlName="family_status" required>
                    <option [ngValue]="null" disabled>Choose your option</option>
                    <option *ngFor="let family_status of familyStatusValues | keyvalue" [ngValue]="family_status.key">{{ family_status.value }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <div>
                <label>Citizen</label>
                <select class="browser-default" id="citizen" formControlName="citizen" required>
                    <option [ngValue]="null" disabled>Choose your option</option>
                    <option *ngFor="let citizen of citizenValues | keyvalue" [ngValue]="citizen.key">{{ citizen.value }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <div>
                <label>Disability</label>
                <select class="browser-default" id="disability" formControlName="disability" required>
                    <option [value]="null" disabled>Choose your option</option>
                    <option *ngFor="let disability of disabilityValues | keyvalue" [value]="disability.key">{{ disability.value }}</option>
                </select>
                <br>
                <hr>
                <br>
            </div>
        </div>
        <div class="input-field">
            <div class="switch">
                <label>
                    Not a pensioner
                    <input formControlName="pensioner" id="pensioner" type="checkbox">
                    <span class="lever"></span>
                    Pensioner
                </label>
            </div>
        </div>
        <div class="input-field">
            <input formControlName="monthly_salary" id="monthly_salary" type="number" [ngClass]="{'invalid': form.get('monthly_salary').invalid && form.get('monthly_salary').touched}">
            <label for="monthly_salary">Monthly salary</label>
            <span class="helper-text red-text" *ngIf="form.get('monthly_salary').invalid && form.get('monthly_salary').touched">
            </span>
        </div>
        <div class="input-field">
            <div class="switch">
                <label>
                    Not liable for military service
                    <input formControlName="army" id="army" type="checkbox">
                    <span class="lever"></span>
                    Liable
                </label>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="form.invalid || form.disabled" class="waves-effect waves-light btn">
                Save changes
            </button>
        </div>
    </form>
</div>
